<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.developerdru.vividity">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera2" />

    <application
        android:name=".application.AppClass"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".screens.login.LoginScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4c160ce800623141f9d48fb1a90f61e5181639d8" />

        <activity
            android:name=".screens.home.HomeScreen"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.profile.ProfileScreen"
            android:screenOrientation="portrait" />

        <activity
            android:name=".screens.details.AddPhotoScreen"
            android:label="@string/title_activity_add_photo_screen"
            android:screenOrientation="portrait"
            android:parentActivityName=".screens.home.HomeScreen"
            android:theme="@style/AppTheme" />

        <service android:name=".services.PushNotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_baby_mono" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
    </application>

</manifest>